*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #686363;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.container-input{
    max-width: 480px;
    margin: 14px 0;
}

.container-input span{
    color: #FFF;
    font-size: 22px;
}

.container-input h1{
    color: #FFF;
    font-size: 30px;
    text-align: center;
}

.button-cta{
    height: 40px;
    background-color: #3EB72B;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
}

.container-imc{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.imc{
    height: 60px;
    width: 200px;
    background-color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border: 1px solid #000;
    transition: transform 0.5s;
}

.imc:hover{
    transform: scale(1.05);
}


.legenda{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}

.hide{
    display: none;
}



.assinatura{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    justify-content: right;
    color: #FFF;
    font-size: 10px;
    border: 0px solid #000;
    position: fixed;
    bottom: 0px;

}

